# golang output binary directory
api/bin

# golang vendor (dependencies) directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Exception to above for raw data sample files
!*bil.zip

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**.DS_Store

**.pyc

**/__debug*

tmp/*
!tmp/README.md

# Acquirable data directory
# Keep data/cumulus/README.md in order to keep folder structure
# Ignore all other files in data/ directory and all sub-directories
# Attribution to multiple stackOverflow articles to figure this one out!
data/**
!data/cumulus
data/cumulus/**
!data/cumulus/README.md
