version: "3"

services:
  cumulusdb:
    image: mdillon/postgis
    volumes:
        - ./database/sql:/sql
        - ./database/sql/init.sql:/docker-entrypoint-initdb.d/z_init.sql
    environment:
        - POSTGRES_PASSWORD=postgres
    ports:
        - "5432:5432"
  elasticmq:
    image: softwaremill/elasticmq
    volumes:
      - ./elasticmq.conf:/opt/elasticmq.conf
    ports:
      - "9324:9324"
    restart: always
  listener:
    build:
      context: async_listener
    environment:
      - AWS_ACCESS_KEY_ID=x
      - AWS_SECRET_ACCESS_KEY=x
      - AWS_REGION=us-east-1
      - CUMULUS_DBUSER=postgres
      - CUMULUS_DBPASS=postgres
      - CUMULUS_DBNAME=postgres
      - CUMULUS_DBHOST=cumulusdb
      - CUMULUS_DBSSLMODE=disable
      - CUMULUS_ASYNC_ENGINE_PACKAGER=AWSSQS
      - CUMULUS_ASYNC_ENGINE_PACKAGER_TARGET=local/http://elasticmq:9324/queue/cumulus-packager
      - CUMULUS_ASYNC_ENGINE_STATISTICS=AWSSQS
      - CUMULUS_ASYNC_ENGINE_STATISTICS_TARGET=local/http://elasticmq:9324/queue/cumulus-statistics
      - CUMULUS_MIN_RECONN=10s
      - CUMULUS_MAX_RECONN=1m
  packager:
    build:
      context: async_packager
    environment:
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
      - AWS_ACCESS_KEY_ID_SQS=$AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY_SQS=$AWS_SECRET_ACCESS_KEY
      - AWS_REGION_SQS=elasticmq
      - CUMULUS_MOCK_S3_UPLOAD=TRUE
      - QUEUE_NAME_PACKAGER=cumulus-packager
      - QUEUE_NAME_PACKAGER_UPDATE=cumulus-packager-update
      - CUMULUS_API_URL=http://api:3030
      - CUMULUS_DBUSER=postgres
      - CUMULUS_DBPASS=postgres
      - CUMULUS_DBNAME=postgres
      - CUMULUS_DBHOST=cumulusdb
      - CUMULUS_DBSSLMODE=disable
      - ENDPOINT_URL=http://elasticmq:9324
      - PACKAGER_UPDATE_INTERVAL=5
    # Volume to persist packager created file
    volumes:
      - ./data:/output
  statistics:
    build:
      context: async_statistics
    environment:
      - AWS_REGION=$AWS_REGION
      - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
      - CUMULUS_MOCK_S3_UPLOAD=TRUE
      - QUEUE_NAME_STATISTICS=cumulus-statistics
      - CUMULUS_API_URL=http://api:3030
      - CUMULUS_DBUSER=postgres
      - CUMULUS_DBPASS=postgres
      - CUMULUS_DBNAME=postgres
      - CUMULUS_DBHOST=cumulusdb
      - CUMULUS_DBSSLMODE=disable
      - ENDPOINT_URL=http://elasticmq:9324
    restart: always
  api:
    build:
      context: api
    environment:
      - AWS_ACCESS_KEY_ID=x
      - AWS_SECRET_ACCESS_KEY=x
      - AWS_REGION=us-east-1
      - CUMULUS_APPLICATION_KEY=appkey
      - CUMULUS_AUTH_DISABLED=FALSE
      - CUMULUS_AUTH_JWT_MOCKED=TRUE
      - CUMULUS_DBUSER=cumulus_user
      - CUMULUS_DBPASS=password
      - CUMULUS_DBNAME=postgres
      - CUMULUS_DBHOST=cumulusdb
      - CUMULUS_DBSSLMODE=disable
      - CUMULUS_LAMBDACONTEXT=FALSE
      - CUMULUS_ASYNC_ENGINE_ACQUISITION=MOCK
      - CUMULUS_ASYNC_ENGINE_ACQUISITION_TARGET=""
      - CUMULUS_ASYNC_ENGINE_PACKAGER=AWSSQS
      - CUMULUS_ASYNC_ENGINE_PACKAGER_TARGET=local/http://localhost:9324/queue/cumulus-packager
      - CUMULUS_ASYNC_ENGINE_STATISTICS=AWSSQS
      - CUMULUS_ASYNC_ENGINE_STATISTICS_TARGET=local/http://localhost:9324/queue/cumulus-statistics
      - CUMULUS_STATIC_HOST=https://api.rsgis.dev
    ports:
      - "3030:3030"
    restart: always
  nginx:
    image: nginx
    ports: 
        - "80:80"
    build: 
      context: async_packager
      dockerfile: Dockerfile-nginx
    volumes:
      - ./data:/usr/share/nginx/html/cumulus/download/dss
